* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.section {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h2 {
    font-size: 1.5rem;
    color: #888;
}

.header h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.add-opinion-btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.add-opinion-btn:hover {
    background-color: #555;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.circles {
    display: flex;
    gap: 10px;
}

.circles img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews {
    flex: 1;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.stars {
    color: #ff9900;
    margin-bottom: 10px;
}

.card p {
    font-size: 0.9rem;
    color: #777;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.prev, .next {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: #555;
}


nav {
    display: flex;
    gap: 20px;
}

nav button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: black;
    color: #333;
}